{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'website/images/bg_2.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact us <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Contact us</h1>
          </div>
        </div>
      </div>
    </section>


	  <section class="ftco-section contact-section">
      <div class="container">
        <div class="row block-9 justify-content-center mb-5">
          <div class="col-md-8 mb-md-5">
              <form action="{% url 'contact' %}" method="post" class="bg-light p-5 contact-form">
                                        {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name" name="message-name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email" name="message-email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="your number" name="message-subject">
              </div>
              <div class="form-group">
                <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          	<h2 class="text-center mt-5">If you got any questions please do not hesitate to send us a message</h2>
          </div>
        </div>
        <div class="row d-flex mb-5 contact-info justify-content-center">
        	<div class="col-md-8">
        		<div class="row mb-5">
		          <div class="col-md-4 text-center py-4">
		          	<div class="icon">
		          		<span class="fa fa-map"></span>
		          	</div>
		            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
		          </div>
		          <div class="col-md-4 text-center border-height py-4">
		          	<div class="icon">
		          		<span class="fa fa-phone"></span>
		          	</div>
		            <p><span>Phone:</span> <a href="tel://1234567920">+ 828-559-1853</a></p>
		          </div>
		          <div class="col-md-4 text-center py-4">
		          	<div class="icon">
		          		<span class="fa fa-paper-plane"></span>
		          	</div>
		            <p><span>Email:</span> <a href="mailto:info@yoursite.com">endlesspools6@gmail.com</a></p>
		          </div>
		        </div>
          </div>
        </div>
        <div class="row justify-content-center">
        	<div class="col-md-8">
        		<div id="map" class="bg-white"></div>
        	</div>
        </div>
      </div>
    </section>	

 {% endblock %}