{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}

<section class="hero-wrap" style="background-image: url('{% static 'website/images/bg9.jpg' %}');" data-stellar-background-ratio="0.3">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-10 col-lg-7 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Modern <span>Innovative</span> Architecture</h1>
	            <p style="font-size: 18px;">From as low as $12000 we can build your dream Container pool for you let us bring your vision to reality and modernised your outdoor pool.</p>
	            <div class="d-flex meta">
		            <div class=""><p class="mb-0"><a href="#" class="btn btn-primary py-3 px-2 px-md-4">Explore Projects</a></p></div>
		            <a href="#" class="d-flex align-items-center button-link">
		            	<div class="button-video d-flex align-items-center justify-content-center">
			            	<span class="fa fa-play"></span>
			            </div>
			            <span>Watch our video</span>
		            </a>
		          </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-system"></span></div>
              <div class="media-body py-md-4">
                <h3>Design Process</h3>
                <p>we have an entire team at Endlesspools to ensure every detail is designed and decorated accordingly..</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-supervised"></span></div>
              <div class="media-body py-md-4">
                <h3>Consultation</h3>
                <p>Our consultation department is at its A game right open 24/24 feel free to Call , Text Or Email at anytime for more info.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-accounting"></span></div>
              <div class="media-body py-md-4">
                <h3>Budget Planning</h3>
                <p>At endlesspools planing is our first and major step we draw your plan down and execute..</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-blueprint"></span></div>
              <div class="media-body py-md-4">
                <h3>Build a Home For You</h3>
                <p>we at endlesspools are very much endowed with expert architects and builders to help bring your dream pool to live..</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    
    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 order-md-last d-md-flex align-items-stretch">
						<div class="img w-100 img-2 mr-md-2" style="background-image: url({% static 'website/images/bg12.jpg' %});"></div>
						<div class="img w-100 img-2 img-overlay ml-md-2 p-4" style="background-image: url({% static 'website/images/about-2.jpg' %});">
							<div class="request-quote py-5">
	    					<div class="py-2">
	    						<span class="subheading">Be Part of our Business</span>
	    						<h3>Request A Quote</h3>
	    					</div>
	    					<form action="#" class="request-form ftco-animate">
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    					<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon-arr"><span class="ion-ios-arrow-down"></span></div>
	                      <select name="" id="" class="form-control">
	                      	<option value="">Select Your Services</option>
	                        <option value="">Construction</option>
	                        <option value="">Renovation</option>
	                        <option value="">Interior Design</option>
	                        <option value="">Exterior Design</option>
	                        <option value="">Painting</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
		    					<div class="form-group">
			    					<input type="text" class="form-control" placeholder="Phone">
			    				</div>
		    					<div class="form-group">
			              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
			            </div>
			            <div class="form-group">
			              <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
			            </div>
			    			</form>
	    				</div>
						</div>
					</div>
					<div class="col-lg-5 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section pr-md-5">
	            <h2 class="mb-4">Endless Container Pools</h2>
	            <p>Shipping containers come in two sizes: 8 feet by 20 feet and 8 feet by 40 feet. Some manufacturers of shipping container pools cut the container's length down to 12 feet for a more space-friendly option...</p>
	            <p>A shipping container pool is more than just a shipping container filled with water. The manufacturer goes through an expensive conversion process. Typically, they weld another layer of steel inside the corrugated steel walls to make the shipping container watertight from the inside. That second layer of steel adds a great amount of weight to the pool...</p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row pt-md-5">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-md-5 mb-md-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="8">0</strong>
                <span>Years of <br>Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-md-5 mb-md-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2500">0</strong>
                <span>Project <br>Done</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-md-5 mb-md-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="500">0</strong>
                <span>Licensed <br>Architect</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-md-5 mb-md-4">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                <span>Happy <br>Customers</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-portfolio">
    	<div class="row justify-content-center no-gutters">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        	<span class="subheading">Projects</span>
          <h2 class="mb-2">Our Unique Latest Projects</h2>
        </div>
      </div>

    	<div class="container">
    		<div class="row no-gutters">
	  			<div class="col-md-12 portfolio-wrap">
	  				<div class="row no-gutters align-items-center">
	  					<div class="col-md-5 img "  style="background-image: url({% static 'website/images/bg14.jpg' %}); height: 800px">
	  						
	  					</div>
	  					<div class="col-md-7">
	  						<div class="text pt-5 pl-0 pl-lg-5 pl-md-4 ftco-animate">
	  							<div class="px-4 px-lg-4">
	  								<div class="desc">
		  								<div class="top">
			  								<span class="subheading">Exterior {12/07/2020}</span>
				  							<h2 class="mb-4"><a href="work.html">Geometric Container Pools</a></h2>
			  							</div>
			  							<div class="absolute">
				  							<p>Here at endlesspools we professional Geometric container pools for you, we also have professional designers who can help you design the best pools for you at your taste.</p>
				  							<p><a href="#" class="custom-btn">View Portfolio</a></p>
			  							</div>
		  							</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>

	  			<div class="col-md-12 portfolio-wrap">
	  				<div class="row no-gutters align-items-center">
	  					<div class="col-md-5 order-md-last img " style="background-image: url({% static 'website/images/bg12.jpg' %}); height: 800px;">
	  						
	  					</div>
	  					<div class="col-md-7">
	  						<div class="text pt-5 pr-md-5 ftco-animate">
	  							<div class="px-4 px-lg-4">
	  								<div class="desc text-md-right">
		  								<div class="top">
			  								<span class="subheading">Design {12/07/2020}</span>
				  							<h2 class="mb-4"><a href="work.html">Twin Container pools</a></h2>
			  							</div>
			  							<div class="absolute">
				  							<p>At endlesspools we also  design and creat twin container pools depending on what you want to make you house look more modern.</p>.</p>
				  							<p><a href="#" class="custom-btn">View Portfolio</a></p>
			  							</div>
		  							</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>

	  			<div class="col-md-12 portfolio-wrap">
	  				<div class="row no-gutters align-items-center">
	  					<div class="col-md-5 img " style="background-image: url({% static 'website/images/bg2.png' %}); height: 800px;">
	  						
	  					</div>
	  					<div class="col-md-7">
	  						<div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
	  							<div class="px-4 px-lg-4">
	  								<div class="desc">
		  								<div class="top">
			  								<span class="subheading">Building {12/07/2020}</span>
				  							<h2 class="mb-4"><a href="work.html">Cultural Complex Centre</a></h2>
			  							</div>
			  							<div class="absolute">
				  							<p>Endlesspools also build and design complex and culture pools for your hous or complex .</p>
				  							<p><a href="#" class="custom-btn">View Portfolio</a></p>
			  							</div>
		  							</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>

	  			<div class="col-md-12 portfolio-wrap">
	  				<div class="row no-gutters align-items-center">
	  					<div class="col-md-5 order-md-last img " style="background-image: url({% static 'website/images/bg5.jpeg' %}); height: 800px;">
	  						
	  					</div>
	  					<div class="col-md-7">
	  						<div class="text pt-5 pr-md-5 ftco-animate">
	  							<div class="px-4 px-lg-4">
	  								<div class="desc text-md-right">
		  								<div class="top">
			  								<span class="subheading">Custom {12/07/2020}</span>
				  							<h2 class="mb-4"><a href="work.html">Custom Designs</a></h2>
			  							</div>
			  							<div class="absolute">
				  							<p>Feel free to send your custom designs to endless pools for us to put it to live and in action let our designers amd architects bring your vision to reality.</p>
				  							<p><a href="#" class="custom-btn">View Portfolio</a></p>
			  							</div>
		  							</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>

	  			<div class="col-md-12 portfolio-wrap">
	  				<div class="row no-gutters align-items-center">
	  					<div class="col-md-5 img " style="background-image: url({% static 'website/images/bg7.jpg' %}); height: 800px;">
	  						
	  					</div>
	  					<div class="col-md-7">
	  						<div class="text pt-5 pl-md-5 pl-md-4 ftco-animate">
	  							<div class="px-4 px-lg-4">
	  								<div class="desc">
		  								<div class="top">
			  								<span class="subheading">Building {12/07/2020}</span>
				  							<h2 class="mb-4"><a href="work.html">8/16/40 feet container Pools</a></h2>
			  							</div>
			  							<div class="absolute">
				  							<p>At endlesspools we build variety of container pools from 8 feet to 40 feet depending on what the customer wants and his or her specifications.</p>
				  							<p><a href="#" class="custom-btn">View Portfolio</a></p>
			  							</div>
		  							</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
    	</div>
    </section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-3">Happy Clients</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                  	<span class="fa fa-quote-left"></span>
                    <p class="mb-4">The customer service is great,quick response,quick action and quick solutions. will definitely be recommending them! .</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Elizabeth Sheffield</p>
		                    <span class="position"></span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                  	<span class="fa fa-quote-left"></span>
                    <p class="mb-4">Their prices are definitely moderate for the exceptional work they put. It was just exacyly what i wanted...</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Scotland Sparkles</p>
		                    <span class="position"></span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                  	<span class="fa fa-quote-left"></span>
                    <p class="mb-4">What i saw amazed me the respect to detail and the efficiency in their finish was just superb. Great Job!!!.</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Mark Jared</p>
		                    <span class="position"></span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                  	<span class="fa fa-quote-left"></span>
                    <p class="mb-4">Nice was very satisfied with what i got.</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Pipen Rogers</p>
		                    <span class="position"></span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                  	<span class="fa fa-quote-left"></span>
                    <p class="mb-4">Good it was a wonderful commute looking forward to our next business adventure.</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    	<div class="pl-3">
		                    <p class="name">White Sunny</p>
		                    <span class="position"></span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Pricing</span>
            <h2>Price &amp; Plans</h2>
          </div>
        </div>
        <div class="row">
    			<div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg8.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>10 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet by 12</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">16000</span> <sub>/month</sub></span>
								<p class="w-100 mb-0">
			            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
            </div>
	        </div>
	        <div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg6.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>20 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet by 20</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">24000</span> <sub>/month</sub></span>
								<p class="w-100 mb-0">
			            <a href="" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
            </div>
	        </div>
	        <div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg7.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>40 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet By 40</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">38000</span> <sub>/month</sub></span>
								<p class="w-100 mb-0">
			            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
	          </div>
	        </div>
	      </div>
      </div>
    </section>



 {% endblock %}