{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/bg1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Services</h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-lamp"></span></div>
              <div class="media-body py-md-4">
                <h3>Planning</h3>
                <p>At endlesspools planing is our first and major step we daw you plan down and execute.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-house"></span></div>
              <div class="media-body py-md-4">
                <h3>Interior Design</h3>
                <p>At endlesspools we have up 30 professional who are there to help you deign the pool of your dreams/p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-relax"></span></div>
              <div class="media-body py-md-4">
                <h3>Exterior Design</h3>
                <p>exterior design is avery important factor in every project because it brings out the beauty in it at endlesspools we take our exterior designing proces very seriously.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-kitchen"></span></div>
              <div class="media-body py-md-4">
                <h3>Decoration</h3>
                <p>we have an entire team at endlesspools to ensure every detail is ddesigned and decorated accordingly.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-kitchen"></span></div>
              <div class="media-body py-md-4">
                <h3>Furniture</h3>
                <p>we also deal with funiture, designing them and embeding dem into our pools depending on the csutomer specifications</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-debate"></span></div>
              <div class="media-body py-md-4">
                <h3>Consultation</h3>
                <p>Our consultation department is at its A game right open 24/24 feel free to Call , Text Or Email at anytime for more info.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wall"></span></div>
              <div class="media-body py-md-4">
                <h3>Restoration</h3>
                <p>we also restor old pools fix them and maek them modern and beautiful again. here at endlesspools everything pool can be brought back to life..</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services d-block text-center px-3 pb-4">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-hotel"></span></div>
              <div class="media-body py-md-4">
                <h3>Building</h3>
                <p>we at endlesspools are very much endowed with expert architects and builders to help bring your dream pool to live..</p>
              </div>
            </div>      
          </div>
    		</div>
    	</div>
    </section>

       <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Pricing</span>
            <h2>Price &amp; Plans</h2>
          </div>
        </div>
        <div class="row">
    			<div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg8.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>10 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet by 12</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">28000</span> <sub>/mos</sub></span>
								<p class="w-100 mb-0">
			            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
            </div>
	        </div>
	        <div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg6.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>20 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet by 20</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">35000</span> <sub>/mos</sub></span>
								<p class="w-100 mb-0">
			            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
            </div>
	        </div>
	        <div class="col-md-4 ftco-animate">
	          <div class="block-7">
	          	<div class="img" style="background-image: url({% static 'website/images/bg7.jpg' %});"></div>
	            <div class="p-4">
		            <ul class="pricing-text mb-2">
		              <li><span class="fa fa-check-circle mr-2"></span>Planning Solution</li>
		              <li><span class="fa fa-check-circle mr-2"></span>40 Construction Drawings</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Selection Materials</li>
		              <li><span class="fa fa-check-circle mr-2"></span>Unlimited Revision</li>
		              <li><span class="fa fa-check-circle mr-2"></span>8 Feet By 40</li>
		            </ul>
		          </div>
		          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
								<span class="price"><sup>$</sup> <span class="number">45000</span> <sub>/mos</sub></span>
								<p class="w-100 mb-0">
			            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
			          </p>
			        </div>
	          </div>
	        </div>
	      </div>
      </div>
    </section>

 {% endblock %}